<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NTP.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <NTP.Settings>
            <setting name="NTP_Server" serializeAs="String">
                <value>pool.ntp.org</value>
            </setting>
            <setting name="UTC_Offset" serializeAs="String">
                <value>2</value>
            </setting>
        </NTP.Settings>
    </applicationSettings>
</configuration>
